<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Samply</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
    </head>
    <body class="wave">
        <div class="content">
            <div class="input-container" id="input-container">
                <div class="inputWrapper" id="trackInput">
                    <input type="text" id="trackInputText" placeholder="Enter track name"/>
                    <button id="trackInputButton">
                        <img src="/static/img/plus-circle.svg" alt="Add track button" />
                    </button>
                    <button id="proceedButton">
                        <img src="/static/img/arrow-right-circle.svg" alt="Proceed button" />
                    </button>
                </div>
                <div class="inputWrapper hide" id="playlistInput">
                    <input type="text" id="playlistInputText" placeholder="Enter playlist name"/>
                    <button id="playlistCreateButton">
                        <img src="/static/img/check-circle.svg" alt="Create playlist button" />
                    </button>
                    <button id="backButton">
                        <img src="/static/img/arrow-left-circle.svg" alt="Back button" />
                    </button>
                </div>
                <div class="inputWrapper hide" id="restartInput">
                    <button id="restartButton">
                        <img src="/static/img/refresh-ccw.svg" alt="Restart button" />
                    </button>
                </div>
            </div>
            <div class="output-container" id="output-container">
                <dl id="sample-list" class="sample-list">
                </dl>
            </div>
        </div>
    </body>
    <script src="/static/js/main.js"></script>
</html>